#preco{
    color: black !important;
    background-color: black !important;

    border:  3px red solid !important;
}

.cd-produto-title{
    text-align: center;
}

.ciar-prod-body{
    background-color: #fff;
}
